html,body,div,h1,h2,h3,em,img,fieldset,form,label,legend,table,thead,tr,
th,td,article,aside,menu,nav,button,header,section,a,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  text-decoration: none;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
html,
body,
main {
  width: 100%;
  height: 100%;
}
body {
  background-color: #ffffff;
  line-height: 1.5;
  font-family: "Roboto", sans-serif, arial, Helvetica;
}
.container {
  width: 100%;
  display: flex;
  width: 100%;
  padding: 0 auto;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}
.img-page-login img {
  width: 100%;
  margin-top: 2rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-bottom: 1.3rem;
  padding: 1rem;
  padding-top: 1rem;
  display: flex;
}

.logo-bardelas {
  display: flex;
  justify-content: center;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.description {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form input {
  height: 30px;
  width: 100%;
  border: none;
  background-color: #f7e2e8;
  color: gray;
  font-family: "roboto", Arial, Helvetica, sans-serif;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
}
.label-input {
  background-color: #f7e2e8;
  display: flex;
  align-items: center;
  margin: 8px;
  text-decoration: none;
}
.icon-modify {
  color: #8c3243;
  padding: 0 5px;
}
.socil-media {
  margin: 1rem 0;
}
.link-social-media:not(:first-child) {
  margin-left: 10px;
}
.item-social-media {
  border: 1px solid #8c3243;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #8c3243;
}
.list-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-social-media a {
  color: silver;
}
.link-social-media :not(:first-child) {
  margin-left: 10px;
}
.btn {
  border-radius: 0.3rem;
  margin: 8px;
  padding: 10px 50px;
  font-size: 14px;
  font-weight: 500;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  width: 150px;
  align-self: center;
}
.btn-login {
  color: #ffffff;
  background-color: #8c3243;
}
.cadastre {
  color: #8c3243;
}
#reset-login {
  border-radius: 0.3rem;
  margin: 8px;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 500;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  width: 150px;
  text-align: center;
  color: #ffffff;
  background-color: #8c3243;
}
/* Começo do estilo do feed */
.header-bg {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px auto;
  padding: 15px;
  background-color: #f1f1f1;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 4);
}
.header-bg img {
  width: 100px;
  height: 45px;
}
.menu-nav {
  display: block;
}
.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  font-weight: bolder;
}
.menu-nav a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 300;
  align-content: center;
  text-align: center;
  margin: 0px 15px;
  cursor: pointer;
  color: #77001a;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}
.menu-logo {
  margin: 0px 15px;
}

.icons img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.main {
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}
div.newPost {
  width: 100%;
  height: 250px;
  margin: 50px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  border-radius: 9px;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 2);
}
div.newPost div.infoUser {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
div.newPost div.infoUser div.imgUser {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #333;
  margin: 0 auto;
  padding: 0 auto;
}
div.newPost div.infoUser strong {
  font-size: 16px;
  color: #77001a;
  margin-left: 10px;
}
div.newPost form.formPost {
  width: 100%;
  display: flex;
  flex-direction: column;
}
form.formPost .textarea-form {
  border-radius: 9px;
  background: #fbfbfb;
  margin: 15px 0;
  padding: 25px;
  resize: none;
  border-color: #77001a;
  outline: none;
  font-weight: bolder;
  color: #727272;
  font-family: "roboto", Arial, Helvetica, sans-serif;
}
div.newPost form.formPost div.iconsAndButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-form {
  margin-right: 14px;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-feed {
  background-color: #77001a;
  color: #fff;
  border-radius: 8px;
  padding: 10px 30px;
  font-weight: bolder;
  outline: none;
  cursor: pointer;
}